.btnCard{
    text-align: right;
}
.btnEdit{
    margin-right: 3px;
    background-color: #E4DE3A;
}
.btnDelete{
    background-color: #F95940;
}
.textCard{
    text-align: start;
}
.background1:hover{
    background-color: rgb(219, 219, 219);
}
.cardImg{
    margin: 3px;
}